.container {
  /* padding: 0 2rem; */
  background: url("../public/images/bg1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  min-height: 100vh;
  width: 100%;
  /* padding: 4rem 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 3rem;
}

.heading {
  display: flex;
  align-items: center;
}

.logo {
  padding: 2rem;
}

.left {
  padding: 1rem;
}

.description {
  font-weight: 600;
}

.right {
  padding: 0 2rem;
  flex-grow: 1;
}

.rightInner {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  border-radius: 15px;
  margin-left: 60px;
}

.rightInnerHeading {
  padding: 30px 20px 0 20px;
  text-align: center;
  color: teal;
}

.loginOptions {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.loginOptions > p {
  margin: 0;
}

.loginOptions > div {
  padding: 8px 4rem;
  text-align: center;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.loginOptions > div > h6 {
  padding: 0;
  margin: 0;
}

.rightInner form {
  padding: 10px 20px;
}

.rightInner form div {
  margin: 5px 0;
}

.rightInner form label {
  font-weight: 600;
  margin-bottom: 4px;
  margin-left: 4px;
}

.loginFormBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormBtns button {
  margin-top: 10px;
}

.loginBtn {
  margin-top: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
}

.rightInnerBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.rightInnerBottom p {
  font-weight: 500;
}

.SignupForm_signupBtn {
  margin-right: 10px;
  margin-top: 20px;
}

.signupBtn {
  font-weight: 500;
}

.cancelBtn {
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
}

.messageBox{
  margin: 0;
  margin-bottom: -10px;
}

.messageBox p{
  margin: 0;
}
